<!doctype html>
<html lang="en">

<head>
  <title>Login del administrador</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <!--Creando una grilla--> 
  <br>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-4">

            {%if mensaje %}
            

            <div class="alert alert-danger" role="alert">
                <strong>{{ mensaje}}</strong> Some Word
            </div>

            {%endif%}

           
            

              <div class="card">
                  <div class="card-header">
                      INICIO DE SESION 
                  </div>
                  <div class="card-body">
                      <form action="/admin/login" method="post">
                          <div class="mb-3">
                              <label for="txtUsuario" class="form-label">Usuario</label>
                              <!-- NAME DEBE SER IGUAL EL LOGIN DE PYTHON -->                           
                              <input type="text" class="form-control" name="txtUsuario" id="txtUsuario" placeholder="Escribe tu usuario"> 
                          </div>
                          <div class="mb-3">
                              <label for="txtPassword" class="form-label">Contraseña</label>
                              <!-- NAME DEBE SER IGUAL EL LOGIN DE PYTHON -->                           
                              <input type="password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Escribe tu contraseña">
                          </div>
                          <!-- Colocando el botón -->
                          <button type="submit" class="btn btn-success">Entrar</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>