<!doctype html>
<html lang="en">

<head>
  <title>Libreriafree</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link  rel="stylesheet" href="/css/bootstrap.min.css">


  <!--menu de cabecera-->

</head>
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/" aria-current="page">INICIO </a>
        <a class="nav-item nav-link active" href="/libros" aria-current="page">LIBROS </a>
        <a class="nav-item nav-link active" href="/nosotros" aria-current="page">NOSOTROS</a>
        <a class="nav-item nav-link active" href="/admin/login" aria-current="page">Login</a>
    
    </div>
    
</nav> 
<div class="container"